$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;
@mixin responsive($type){
    @media screen and (max-width:$type){
        @content;
    }
}

@mixin flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin btn-style {
    padding: 10px 16px;
    border: none;
    font-size: 18px;
    background-color: #fff;
    border-radius: 300px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.color-red {
    color: #e32d49 !important;
}
#loading {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

#product {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #8942a8, #ba382f);
    overflow: hidden;
    .myContainer {
        width: 100%;
    }
}

.product-list {
    max-width: 1240px;
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .product-item {
        position: relative;
        align-self: center;
        color: #191919;
        margin-top: 30px;
        flex-shrink: 0;
        height: 375px;
        width: 250px;
        padding: 20px;
        border-radius: 20px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 7px 5px -5px #4d4b4b;
        transition: 0.5s;
        &:hover {
            height: 560px;
            width: 325px;
            box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
            .content-item .content-details {
                bottom: 0;
                .details-text {
                    opacity: 1;
                }
                .price-buy {
                    opacity: 1;
                }
            }
        }
        .content-item {
            width: 100%;
            height: 100%;
            .content-top {
                @include flex-center-between();
                margin-bottom: 10px;
                i {
                    font-size: 22px;
                }
                img {
                    height: 22px;
                }
                em {
                    color: #90ee90;
                    font-size: 14px;
                }
            }
            .content-img {
                width: 210px;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
            .content-details {
                position: absolute;
                bottom: -240px;
                left: 0;
                right: 0px;
                padding: 20px;
                min-height: 270px;
                color: #fff;
                background: linear-gradient(to left, #20585c, #3b5e29);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: all .5s;
                .details-name {
                    @include flex-center-between();
                    padding-bottom: 20px;
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                    }
                    button {
                        font-size: 20px;
                        color: #fff;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
                .details-text {
                    opacity: 0;
                    transition: all .1s;
                    p {
                        margin-bottom: 6px;
                        font-size: 15px;
                    }
                }
                .price-buy {
                    opacity: 0;
                    font-size: 22px;
                    transition: all .1s;
                    @include flex-center-between();
                    .buy-now {
                        button {
                            @include btn-style();
                            cursor: pointer;
                            transition: all .3s;
                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                    .buy-content {
                        @include flex-center-between();
                        display: none;
                        .buy-quantity {
                            margin-right: 10px;
                        }
                        button {
                            @include btn-style();
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

#shopping-cart {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    #fliter {
        
        #fliter-select {
            height: 30px;
            margin-right: 10px;
            padding: 0 10px;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            color: #fff;
            border: none;
            outline: none;
            border-radius: 4px;
        }
    }
    button {
        @include btn-style();
        padding: 10px 8px;
        cursor: pointer;
        background-color: transparent;
        font-size: 30px;
        &:hover {
            opacity: .8;
        }
    }
    #shopping-cart-quantity {
        position: absolute;
        padding: 3px;
        color: #000;
        min-width: 22px;
        min-height: 22px;
        text-align: center;
        background-color: #fff;
        border-radius: 300px;
        font-size: 14px;
        right: 2px;
        top: -2px;
    }
}

#cart-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
    /////
}
#cart-content {
    position: absolute;
    height: 100%;
    right: 0;
    width: 50%;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    display: flex;
    /////
    flex-direction: column;
    justify-content: space-between;
    animation: cartFadeIn ease .3s;
    .cart-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            flex: 1;
            text-align: center;
        }
        i {
            cursor: pointer;
            padding: 10px 12px;
            font-size: 22px;
        }
    }
    .cart-list {
        flex: 1;
        overflow-y: auto;
        #tbCart {
            color: rgba(255, 255, 255, 0.25);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 32px;
            letter-spacing: 2px;
            padding: 30px;
            line-height: 1.4;
        }
        .cart-item {
            display: flex;
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 4px 0;
            font-size: 20px;
            min-height: 80px;
            button {
                padding: 4px;
                font-size: 20px;
                background-color: #000;
                color: #fff;
                border: none;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                }
            }
            .cart-img {
                flex: 1;
                align-self: center;
                img {
                    width: 100%;
                }
            }
            .cart-name {
                flex: 2;
                align-self: center;
            }
            .cart-quantity {
                flex: 1;
                align-self: center;
            }
            .cart-price {
                flex: 1;
                align-self: center;
            }
            .cart-delete {
                flex: 0.5;
                align-self: center;
            }
        }
    }

    .cart-buy-clear {
        padding: 20px 10px;
        #cart-total {
            font-size: 22px;
            letter-spacing: 1px;
            display: flex;
            justify-content: end;
            span {
                margin-left: 6px;
            }
        }
        #cart-btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 16px;
            #cart-btn-buy {
                padding: 10px 14px;
                background-color: #000;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 8px;
                letter-spacing: 1px;
                font-size: 18px;
                outline: none;
                transition: all .5s;
                cursor: pointer;
                i {
                    color: #6665dd;
                }
                &:hover {
                    color: black;
                    box-shadow: inset 300px 0 0 0 white;
                }
            }
            #cart-btn-clear {
                @extend #cart-btn-buy;
                margin-left: 16px;
                i {
                    color: #e32d49;
                }
            }
        }
    }

}
#purchase {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    #purchase-order {
        font-size: 20px;
        position: absolute;
        width: 90%;
        height: 90%;
        background-color: #060606;
        border-radius: 20px;
        padding: 4%;
        color: #fff;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        transition: all .2s;
        .purchase-list {
            margin-bottom: 8px;
            .purchase-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
            }
        }
        .purchase-total-amount {
            margin-top: 15px;
            .total-amount {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;
            }
        }
        .purchase-btn {
            margin-top: auto;
            .btn-oder {
                color: #fff;
                font-size: 20px;
                padding: 16px 32px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                background-color: #00bbf9;
            }
            .btn-cancel {
                @extend .btn-oder;
                background-color: #bb342f;
                margin-left: 30px;
            }
        }
        .your-order {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            h2 {
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 30px;
                text-align: center;
            }
            p {
                font-size: 18px;
                padding: 12px 0;
                border-bottom: 1px dashed #fff;
            }
            button {
                font-size: 18px;
                border-radius: 10px;
                padding: 16px 32px;
                background: #5bc0be;
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
@keyframes cartFadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@include responsive($xl) {
    #shopping-cart {
        width: 100%;
        top: 0;
        left: 0;
        min-height: 60px;
        justify-content: end;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        filter: invert(1);
        #fliter {
            #fliter-select {
                color: #000;
            }
        } 
        .cart-icon {
            margin-right: 16px;
        }
        #shopping-cart-quantity {
            right: 15px;
            top: 4px;
        }
    }
    .product-list {
        width: 85%;
        min-width: 900px;
        padding-top: 60px;
    }
    #cart-content {
        width: 60%;
    }
}
@include responsive($lg) {
    .product-list {
        width: 78%;
        min-width: unset;
    }
    #cart-content {
        width: 70%;
    }
}
@include responsive($md) {
    .product-list {
        width: 70%;
    }
    #cart-content {
        width: 80%;
    }
}
@include responsive($sm) {
    #cart-content {
        width: 100%;
        .cart-img {
            display: none;
        }
    }
}



